doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{name} unit test
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css")
    style.
      nav.tests {
        font-size: 12px;
        position: fixed;
        top: 25px;
        max-width: 70%;
      }
      nav.tests a {
        margin: 0.25em 0.5em;
        display: inline-block
      }
      nav.tests a.active {
        text-decoration: none;
      }
    script(src="//cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js")
    script.
      mocha.setup('bdd')

    script(src="/js/jspm_packages/system.js")
    script(src="/js/config.js")
    script.
      System.config({"baseURL": "/js"})
      System.transpiler = '6to5';
      System.import("test/#{name}")
        .then(function(){
          mocha.run();
        })
        .catch(function(e) {
          setTimeout(function() {
            throw e;
          }, 1);
      })

  body
    nav.tests
      each test in names
        a(href=test, class= (test == name) && "active") #{test}

    #mocha
