doctype html
html
  head
    title #{title} v#{settings.version} (#{settings.env})
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jspm_packages/system.js')
    script(src='/js/config.js')
    script.
      System.baseURL = '/js/';

    if settings.env === 'production'
      script(src='/js/app-built.js')

    script.
      document.addEventListener("DOMContentLoaded", function initApp(){
        System.import('app/app').then(function(app){
          console.log('app', app, typeof app)
          window.app = app.init();
        }).catch(console.error.bind(console));
      });
  body
    block content
