@import 'nib'

body
	padding 0 20px
	font 14px sans-serif
	background-color lighten(black, 20%)
	color antiquewhite

img.egg
	float right

ul.egglist
	li
		cursor pointer
		color white
		&.cracked
			text-decoration line-through
			color yellow

