@import 'nib'

*, *:before, *:after
  box-sizing border-box

body
  padding 0 20px
  font 14px sans-serif
  background-color lighten(black, 20%)
  color antiquewhite
  a
    color white

ul.egglist
  li
    cursor pointer
    color white
    &.cracked
      text-decoration line-through
      color yellow

aside.crack-count
  background url('/img/chicken-egg.png') center center no-repeat
  background-size 100%
  position absolute
  top 20px
  right 20px
  font-size 2em
  padding 5% 10px 10% 10px
  text-align center
  b.count
    color yellow
    font-size 1.5em
    display block
